# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Virtual Environments
# ==============================
venv/
env/
.venv/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# System Files
# ==============================
.DS_Store
Thumbs.db
